@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de Francisco Castillo y Bruno Roth</p>
</div>

<div>
    <img src="~/images/logo.png" alt="Logo del Juego" width="150" />
</div>
<div class="fondo"></div>

<div class="contenido">

</div>

<form action="Comenzar" method="post">
    <div>
        <h2>Nombre del jugador:</h2>
        <input type="text" name="username" required />
    </div>

    <div>
        <h2>Dificultad:</h2>
        <select name="dificultad" required>            
            <option value="">Seleccione...</option>
            <option value="1">Facil</option>
            <option value="2">Medio</option>
            <option value="3">Dificil</option>
        </select>
    </div>

    <div>
        <button type="submit">Comenzar</button>
    </div>
</form>

<h2>Historial de jugadores</h2>
<section>
    <div>
        <ul>
            <li>Nombre</li>
            <li>Dificultad</li>
            <li>Intentos</li>
        </ul>
    </div>
    <div>
        @if (ViewBag.otrosJugadores != null)
        {
            foreach (Usuario jugador in ViewBag.otrosJugadores)
            {
                <ul>
                    <li>@jugador.nombre</li>
                    <li>@jugador.cantidadDeIntentos</li>
                </ul>
            }
        }
        else
        {
            <div>
                <h6>No hay jugadores registrados aun.</h6>
            </div>
        }
    </div>
</section>
