@{
    ViewData["Title"] = "Juego";
}

<div class="container mt-4">
    <input type="hidden" id="intentos" value="0" />
    <input type="hidden" id="contador" value="0" />
    <input type="hidden" id="palabraInicial" value="@ViewBag.PalabraInicial" />

    <h2>Juego del Ahorcado</h2>

    <div class="row">
        <div class="col-md-6">
            <div id="hangman-wrap">
                <img id="hangman-img" src="~/img/cuerda.jpg" alt="Ahorcado" style="max-width:100%;height:auto;" />
            </div>
        </div>

        <section>
            @{
                int i = 0;
                foreach (char a in ViewBag.Palabra)
                {
                    string idl = "letra" + i;
                        <div id = @idl>

                            @("_")
 
                        </div>
                    i++;
                }
            }

        </section>
        
        <div class="col-md-6">
            <div class="mb-2">Palabra: <span id="palabraInicial" class="h4"></span></div>
            <div class="mb-2">Letras usadas: <span id="letrasUsadas"></span></div>
            <div class="mb-2">Intentos : <span id="intentos"></span></div>

            <form>
                <input type="text" id="entradaLetra" placeholder="Ingrese una letra" required />
                <button type="button" id="btnLetra" onclick="IngresarLetra(document.getElementById('entradaLetra').value)">Arriesgar Letra</button>
            </form>

            <form>
                <input type="text" id="entradaPalabra" placeholder="Ingrese una palabra" required />
                <button type="button" id="btnPalabra" onclick="IngresarPalabra(document.getElementById('entradaPalabra').value)">Arriesgar Palabra</button>
            </form>

            <div id="mensaje" class="mt-3"></div>
        </div>
    </div>
</div>

<script src="~/js/juego.js"></script>
